    /* components/ReimbursementForm.module.css */

    .container {
        max-width: 700px;
        width: 100%;
        background: #ffffff;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 5px 12px -2px rgba(0, 0, 0, 0.1),
        0px 18px 36px -6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin: 10px;
        margin: 0 auto; /* Center the container horizontally */
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the form vertically */
        justify-content: center; /* Center the form horizontally */
    }

    .container .title {
        padding: 25px;
        background: #f6f8fa;
    }

    .container .title p {
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }

    .container .title p::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 3px;
        background: linear-gradient(to right, #F37A65, #D64141);
    }

    .user_details {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        padding: 25px;
    }

    .user_details .input_box {
        width: calc(50% - 10px); /* Adjust width as needed */
        margin-bottom: 12px;
    }

    .input_box label {
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
    }

    .input_box input,
    .input_box textarea,
    .input_box select {
        width: 100%;
        height: 45px; /* Adjust height as needed */
        border: 1px solid #ccc;
        outline: none;
        border-radius: 5px;
        font-size: 16px;
        padding-left: 15px;
        box-shadow: none;
        background-color: #f6f8fa;
        font-family: 'Poppins', sans-serif;
        transition: all 120ms ease-out 0s;
    }

    .input_box textarea {
        height: 100px; /* Adjust height as needed */
    }

    .input_box select {
        height: 45px; /* Match height with input */
    }

    .input_box input:focus,
    .input_box input:valid,
    .input_box textarea:focus,
    .input_box textarea:valid {
        border-color: #AC8ECE;
    }

    .reg_btn {
        padding: 25px;
        margin: 15px 0;
    }

    .reg_btn input[type="submit"] {
        height: 45px;
        width: 100%;
        border: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        background: linear-gradient(to right, #F37A65, #D64141);
        border-radius: 5px;
        color: #ffffff;
        letter-spacing: 1px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }

    .reg_btn input[type="submit"]:hover {
        background: linear-gradient(to right, #D64141, #F37A65);
    }

    .error {
        color: red;
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }
        